<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="dti/tests/bootstrap.php"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         failOnRisky="true"
         failOnWarning="true"
         colors="true">
    <testsuites>
        <testsuite name="dti">
            <directory>dti/tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>dti/lib</directory>
            <directory>dti/routes</directory>
            <file>dti/db.php</file>
            <file>dti/guard.php</file>
        </include>
    </source>
</phpunit>
